# Challenge: Promotions

In this challenge, you'll develop codes to parse and analyze data returned from another API on Zalando such as [Promos homme (Men's Promotions)
](https://www.zalando.fr/promo-homme/) or [Promos femme (Women's Promotions)](https://www.zalando.fr/promo-femme/). The workflow is almost the same as in the guided lesson but you'll work with different data.

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

1. Examine the webpages and choose one that you want to work with.

1. Use Google Chrome's DevTools to inspect the XHR network requests. Find out the API endpoint that serves data to the webpage.

1. Test the API endpoint in the browser to verify its data.

1. Change the page number offset of the API URL to test if it's working.

In [6]:
# your code here

url = 'https://www.zalando.fr/api/catalog/articles?categories=promo-homme&limit=84&offset=84&sort=popularity'

In [7]:
# your code here
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize

In [8]:
headers = \
{"User-Agent":"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0"}
response = requests.get(url, headers=headers)

## Reading the data

In the next cell, use Python to obtain data from the API endpoint you chose in the previous step. Workflow:

1. Import libraries.

1. Define the initial API endpoint URL.

1. Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

1. Find out the total page count in the 1st page data.

1. Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

1. Print and review the data you obtained.

In [9]:
results = response.json()

In [23]:
flattened_data = json_normalize(results)
first_page_data = json_normalize(flattened_data.articles[0])
first_page_data.count()
#Total page count is 84 sku, similar to the maximum number of items per page

sku                                          84
name                                         84
sizes                                        84
url_key                                      84
media                                        84
brand_name                                   84
is_premium                                   84
family_articles                              84
flags                                        84
product_group                                84
delivery_promises                            84
price.original                               84
price.promotional                            84
price.has_different_prices                   84
price.has_different_original_prices          84
price.has_different_promotional_prices       84
price.has_discount_on_selected_sizes_only    84
outfits                                       3
amount                                        1
price.base_price                              1
dtype: int64

In [34]:
df = pd.DataFrame()
for i in [0,1]:
    k=84*i
    url_2 =f'https://www.zalando.fr/api/catalog/articles?categories=promo-homme&limit=84&offset={k}&sort=popularity'
    response_2 = requests.get(url_2, headers=headers)
    results_2 = response_2.json()
    flattened_data_2 = json_normalize(results_2)
    flattened_data_2_2 = json_normalize(flattened_data_2.articles[0])
    df = df.append(flattened_data_2_2)
    
df.head()

/home/fran/miniconda3/envs/data_env/lib/python3.7/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,amount,brand_name,delivery_promises,family_articles,flags,is_premium,media,name,outfits,price.base_price,price.has_different_original_prices,price.has_different_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,price.original,price.promotional,product_group,sizes,sku,url_key
0,NaN,Tommy Jeans,[],[],"[{'key': 'campaign', 'value': '-20% EXTRA', 't...",False,[{'path': 'TO/B2/2O/01/BQ/11/TOB22O01B-Q11@8.j...,ORIGINAL SLIM FIT - T-shirt à manches longues ...,NaN,NaN,False,False,False,False,"34,95 €","27,95 €",clothing,"[XS, S, M, L, XL, XXL]",TOB22O01B-Q11,tommy-jeans-original-t-shirt-a-manches-longues...
1,NaN,Tommy Jeans,[],[],"[{'key': 'campaign', 'value': '-20% EXTRA', 't...",False,[{'path': 'TO/B2/2O/04/XQ/11/TOB22O04X-Q11@9.j...,BADGE TEE - T-shirt basique - black,NaN,NaN,False,False,False,False,"39,95 €","19,95 €",clothing,"[XS, S, M, L, XL, XXL]",TOB22O04X-Q11,tommy-jeans-badge-tee-t-shirt-basique-tob22o04...
2,NaN,Vans,[],[],"[{'key': 'campaign', 'value': '-20% EXTRA', 't...",False,[{'path': 'VA/21/5B/00/0Q/12/VA215B000-Q12@12....,OLD SKOOL - Chaussures de skate - black,"[{'id': 'nmnnhTu7SCu', 'url_key': '/outfits/nm...",NaN,False,False,False,False,"74,95 €","67,45 €",shoe,"[34.5, 35, 36, 36.5, 37, 38, 38.5, 39, 40, 40....",VA215B000-Q12,vans-old-skool-baskets-basses-va215b000-q12
3,NaN,Pier One,[],[],"[{'key': 'campaign', 'value': '-20% EXTRA', 't...",False,[{'path': 'PI/92/2E/A0/OK/11/PI922EA0O-K11@10....,Chino - dark blue,NaN,NaN,False,False,False,False,"29,99 €","16,49 €",clothing,"[29, 30, 31, 32, 33, 34]",PI922EA0O-K11,pier-one-chino-dark-blue-pi922ea0o-k11
4,NaN,Nike Sportswear,[],[],"[{'key': 'campaign', 'value': '-20% EXTRA', 't...",False,[{'path': 'NI/11/2O/0A/YQ/11/NI112O0AY-Q11@5.j...,AIR MAX 97 - Baskets basses - anthracite/volt...,NaN,NaN,False,False,False,False,"169,95 €","101,95 €",shoe,"[38.5, 39, 40, 40.5, 41, 42, 42.5, 43, 44, 44....",NI112O0AY-Q11,nike-sportswear-air-max-97-baskets-basses-anth...

## Bonus

Extract the following information from the data:

* The trending brand.

* The product(s) with the highest discount.

* The sum of discounts of all goods (sum_discounted_prices divided by sum_original_prices).

In [40]:
# your code here
#Below the most trending brand
df.groupby('brand_name').count().sku.sort_values(ascending=False).nlargest(1)

df.groupby('sku').max().

brand_name
Nike Sportswear    38
Name: sku, dtype: int64