# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [3]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
# Your code here:
salaries.groupby(['Salary or Hourly']).count()

,Name,Job Titles,Department,Full or Part-Time,Typical Hours,Annual Salary,Hourly Rate
Salary or Hourly,,,,,,,
Hourly,8022,8022,8022,8022,8022,0,8022
Salary,25161,25161,25161,25161,0,25161,0

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
# Your code here:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
# Your code here:
from scipy.stats import ttest_1samp

hourly_rate = salaries['Hourly Rate'].dropna()

hourly_results = ttest_1samp(hourly_rate, 30.0)

hourly_results

#P value is quite close to 0 for both tails, so even without dividing by 2, we can reject the null hypothesis
#of hourly rate not being different than $30/hour.

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [9]:
# Your code here:
police_n_board = salaries.loc[salaries['Department'].isin(['POLICE', 'POLICE BOARD'])]['Annual Salary'].dropna()

annual_police_salaries = ttest_1samp(police_n_board, 86000.0)

annual_police_salaries.pvalue / 2

#I have dropped the null values as there only 10 instances where we had NaN and there was
#not enough data to infer what the annual salary in those cases could be.
#P value is lower than 0.05, meaning the null hypthosis of salaries not being higher than
#$86K can be rejected, and accept the alternative with 0.05 significance

0.0010306457005664076

Using the `crosstab` function, find the department that has the most hourly workers.

In [10]:
# Your code here:
hourly_cross = pd.crosstab(salaries['Salary or Hourly'], salaries['Department'])
hourly_cross.idxmax(axis=1)

Salary or Hourly
Hourly    STREETS & SAN
Salary           POLICE
dtype: object

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [11]:
# Your code here:
street_n_san = salaries.loc[salaries['Department'].isin(['STREETS & SAN'])]['Hourly Rate'].dropna()

test_street_n_san = ttest_1samp(street_n_san, 35)

test_street_n_san.pvalue / 2

#We can reject the null hypothesis of salaries not being less than $35/hour,
#as the t statistic is negative and the p value is less than 0.05

1.6689265282353859e-21

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [39]:
# Your code here:
from scipy.stats import t
from scipy.stats import sem

ddof_hourly = hourly_rate.count() -1
mean_hourly = hourly_rate.mean()
scale_hourly = sem(hourly_rate, axis=None, ddof=ddof_hourly)


interval_police = t.interval(0.95, ddof_hourly, loc=mean_hourly, scale=scale_hourly)

#With 95% of confidence, the hourly rate will be between $9 and $56 per hour.

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [42]:
# Your code here:
ddof_police = police_n_board.count() - 1
mean_police = police_n_board.mean()
scale_police = sem(police_n_board, axis=None, ddof=ddof_police)

t.interval(0.95, ddof_police, loc=mean_police, scale=scale_police)

#Confidence interval of 95% significance is between 86462 & 86510

(50671.13382417666, 122301.59062756138)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [43]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

true_values = hourly_rate.between(9.046248541993936, 56.53086689056654).sum()


count = true_values
nobs = hourly_rate.count()
value = .25
stat, pval = proportions_ztest(count, nobs, value)

pval

#Pval is close to 0, meaning the 25% proportion is not significantly equal.

0.0